
RewriteEngine On

RewriteRule ^user-list$ ./views/user-list.php [L]
RewriteRule ^ad-list$ ./views/ad-list.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L]
